<h2 class="major">Связаться</h2>
<form method="post" action="{{ $.Site.Params.formHandler }}">
    <div class="field half first">
        <label for="name">Имя</label>
        <input type="text" name="name" id="name" />
    </div>
    <div class="field half">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
    </div>
    <div class="field">
        <label for="message">Сообщение</label>
        <textarea name="message" id="message" rows="4"></textarea>
    </div>
    <ul class="actions">
        <li><input type="submit" value="Отправить" class="special" /></li>
        <li><input type="reset" value="Сбросить" /></li>
    </ul>
    <input type="hidden" name="_next" value="{{ $.Site.BaseURL }}" />
</form>
<ul class="icons">
    {{ range .Site.Params.social }}
    <li><a href="{{ .link | safeURL }}" class="icon fa fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
    {{ end }}
</ul>