<h2 class="major">Наши работы</h2>
<span class="image main"><img src="/img/pic03.jpg" alt="credit to https://www.walldevil.com" /></span>
<hr>
<h3>Jupiter</h3>
<blockquote>Твоя планета квестов</blockquote>
<p><strong>Jupiter</strong>- это квестовая игра, где автором каждого квеста может быть каждый!</p>
<p>Подробнее можете прочитать в <a href="https://docs.google.com/presentation/d/1F0afiEy_w9LCbCBq9LWYvUIJzE8LfexBbouQhE6MuOE/edit?usp=sharing">нашей презентации </a></p>
<hr>